<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>de.leo-labs.VoodooSMBus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooSMBusControllerDriver</key>
		<dict>
			<key>IOPCIClassMatch</key>
			<string>0c050000&amp;0xffffff00</string>
			<key>IOProbeScore</key>
			<integer>400</integer>
			<key>IOPCIMatchComment</key>
			<string>Intel SMBus Controller i801 (Class 0x0C05)</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOClass</key>
			<string>VoodooSMBusControllerDriver</string>
			<key>CFBundleIdentifier</key>
			<string>de.leo-labs.VoodooSMBus</string>
			<key>Addresses</key>
			<array>
				<integer>21</integer>
			</array>
		</dict>
		<key>VoodooSMBusIntelLpssI2C</key>
		<dict>
			<key>IOProbeScore</key>
			<integer>400</integer>
			<key>IOPCIMatchComment</key>
			<string>Dummy IntelLpssI2CDriver</string>
			<key>IOPCIMatch</key>
			<string>0x9d608086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOClass</key>
			<string>VoodooSMBusIntelLpssI2C</string>
			<key>CFBundleIdentifier</key>
			<string>de.leo-labs.VoodooSMBus</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 leo-labs. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>3.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>15</string>
		<key>com.apple.kpi.libkern</key>
		<string>15</string>
		<key>com.apple.kpi.mach</key>
		<string>15</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
